.hero-hero {
    display: flex;
    flex-wrap: nowrap;
}
.hero-image {
  background-image: url(../imagenes/her.png); /* Tu imagen */
  height: 70%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.hero-opacity {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(134,104,29, 0.3); /* Oscurece suavemente */
    z-index: 0;
  }

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:white;
}

.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: rgb(234, 234, 234);
  background-color: #886637;
  text-align: center;
  cursor: pointer;
}

.hero-text button:hover {
  background-color:#886637;
  color: white;
}